@{
    Layout = "_Layout";
}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="container">
        @RenderBody();
    </div>
</body>
</html>