@page
@model StoreApp.Pages.ComplatedModel 
@{
}
<body>
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="order-success text-center">
                    <i class="success-icon bi bi-check-circle-fill"></i>
                    <h2 class="mt-4">Siparişiniz için teşekkürler!</h2>
                    <p>Siparişiniz en kısa süre içerisinde sizlere ulaşturulacaktır. Fatura bilgisi  E-posta adresinize iletilmiştir.</p>

                    <div class="order-details text-start">
                        <h4>Sipariş bilgileri</h4>
                        <ul class="list-group">
                            <li  class="list-group-item d-flex justify-content-between">
                                <span>Sipariş ID:</span>
                                <span>@Model.OrderId</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Sipariş Tarihi:</span>
                                <span></span>
                            </li>
                            <li hidden="hidden" class="list-group-item d-flex justify-content-between">
                                <span>Toplam Ödeme:</span>
                                <span>$124.58</span>
                            </li>
                        </ul>
                    </div>

                    <a href="/" class="btn btn-primary btn-home">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</body>
 
<style>
    .order-success {
        background-color: #f8f9fa;
        padding: 50px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .success-icon {
        font-size: 80px;
        color: #28a745;
    }

    .order-details {
        margin-top: 20px;
    }

    .btn-home {
        margin-top: 30px;
    }
</style>